.games{
  @include span-columns(12);
  @include omega();
  .game-list{
    @include span-columns(4);
    ul{
      list-style: none;
      li{
        @include borderThis($nutural, 4px);
        padding: 5px;
        margin-top: 5px;
        .name{
          @include borderThis($positive, 2px);
        }
        .gm{
          @include borderThis($negative, 2px);
        }
        .play{
          @include borderThis($positive, 2px);
          background-color: $positive;
        }
        .display{
          @include borderThis($nutural, 2px);
        }
      }
    }
  }
  .controls{
    @include span-columns(6);
    @include shift(2);
    #add{
      padding: 5px;
      @include borderThis(#ff98cc, 5px);
      min-height: 2em;
      width: 100%;
      @include span-columns(6);
      span{
        @include buttonFactory(1.5em, 100%, $nutural, 2px, 2px);
      }
    }
    #join{
      padding: 5px;
      @include span-columns(6);
      min-height: 2em;
      // width: 100%;
      @include borderThis(#ff98cc, 5px);
    }
  }
}
