<div class="container">
  <div class="banner">
    <span id="logo">LOGO</span>
    <h1>Player 2:</h1>
    <h3>A Tabletop Tool</h3>
  </div>
  <div class="join">

    <!-- <blaze-template name="loginButtons"></blaze-template> -->
    <div id="loginButton">
      <a href="/login">Login</a>
    </div>
    <div id="or">
      -OR-
    </div>
    <div id="joinButton">
      <a href="/register">Register</a>
    </div>
  </div>
  <div id="info">
    <p> Weclome, User!</p>
    <p>
      Player 2, your one stop shop for Player and Party tracking for Pen and Paper Roleplaying games. Start up a game, and easily track who's alive, who's dead, who's blind, and who's not doing well. Are you a GM? Then easily track NPCs and Players, update their health, and kill them when you feel like it.
    </p>
    <p>Click above to join or log back into an existing game.</p>
  </div>

</div>
