<div class="player-plate gm">
	<header> {{ partyMember.name }}</header>
	<span class="left" ng-show="displayDetails || gm">{{partyMember.tempHealth.maxHealth + " " + partyMember.currentHealth}}</span>
	<div class="health-bar">
		<div class="bar" ng-class="barColor(partyMember.currentHealth,partyMember.maxHealth)">
			<div class="hit" style="width:{{health(partyMember.maxHealth, (partyMember.maxHealth - partyMember.currentHealth))}}"></div>
			<div class="hit temp" style="width:{{health(partyMember.tempHealth.maxHealth, partyMember.tempHealth.currentHealth)}}"></div>
		</div>
	</div>
	<div class="conditions">
		<div ng-repeat="condition in partyMember.conditions | filter:{name: '!!'}" hm-tap="popCondition(partyMember._id, condition)">{{condition.name}}</div>
	</div>

	<div class="initSet" ng-show="game.battle && !partyMember.battle.init">
		<input type="number" ng-model="partyMember.roll"><button hm-tap="initRoll(partyMember._id, partyMember.roll)">Set Init</button>
	</div>
	<div class="controls">
		<button ng-click="increaseHealth(partyMember._id, partyMember.dmInput)">Heal</button><input type="number" ng-model="partyMember.dmInput"><button ng-click="decreaseHealth(partyMember._id, partyMember.dmInput)">Hurt</button>
		<button ng-click="kill(partyMember._id, partyMember.currentHealth, partyMember.tempHealth)">Kill</button>
		<button ng-click="conditionPopover(partyMember._id)">Add Condition</button>
		<button ng-click="remove(partyMember._id)" ng-show="partyMember.npc == true">Remove</button>
	</div>
</div>
