<div class="container play">
  <pt-top></pt-top>
  <pt-condtions ng-show="showConditons"></pt-condtions>
  <div id="gm-top">
    <div id="game-controls">
      <div class="mobile-header"> Game Controls<button class="toggle" hm-tap="gmCtrl.toggleControls()">=</button></div>
      <div class="body" ng-hide="controlsHide">
        <button hm-tap="gmCtrl.toggleDisplayNPC()" ng-class="{active: game.displayNPC}"> Display NPCs in combat</button>
        <button hm-tap="gmCtrl.callForInit()"> Start Combat</button>
        <button hm-tap="gmCtrl.endCombat()"> End Combat</button>
        <button hm-tap="gmCtrl.endTurn()"> End Turn</button>
        <button hm-tap="gmCtrl.endRound()"> End Round</button>
      </div>
    </div>
    <div id="npc-controls">
      <div class="npc">
        <div class="mobile-header">Add NPC<button class="toggle" hm-tap="gmCtrl.toggleNPC()">=</button></div>
        <div class="body" ng-hide="npcHide">
          <input class="name" ng-model="gmCtrl.npc.name" placeholder="NPC Name">
          <input ng-model="gmCtrl.npc.health" placeholder="NPC Health">
          <input ng-model="gmCtrl.npc.init" placeholder="NPC initive roll">
          <button hm-tap="gmCtrl.addNPC()">Add NPC</button>
        </div>
      </div>
    </div>
    <div id="game-info">
      <div class="mobile-header">STUFF<button class="toggle" hm-tap="gmCtrl.toggleGameInfo()">=</button></div>
      game info display
    </div>
  </div>

  <hr/>
  <div id="plate-grid" class="wrapper">
    <!-- {{gmCtrl.players}} -->
    <!-- {{gmCtrl.game}} -->
    <pt-plate type="gm" data="gmCtrl.players">

    </pt-plate>
  </div>
  <!-- {{gameId}} -->
</div>
