<div class="container play">
  <pt-top></pt-top>
  <pt-condtions ng-show="showConditons"></pt-condtions>
  <hr/>
  <!-- {{players}} -->
  <div id="gm-top">
    <div id="game-controls">
      <div class="mobile-header"> Game Controls<button class="toggle" hm-tap="toggleControls()">=</button></div>
      <div class="body" ng-hide="controlsHide">
        <button hm-tap="toggleDisplayNPC()" ng-class="{active: game.displayNPC}"> Display NPCs in combat</button>
        <button hm-tap="callForInit()"> Start Combat</button>
        <button hm-tap="endCombat()"> End Combat</button>
        <button hm-tap="endTurn()"> End Turn</button>
        <button hm-tap="endRound()"> End Round</button>
      </div>
    </div>
    <div id="npc-controls">
      <div class="npc">
        <div class="mobile-header">Add NPC<button class="toggle" hm-tap="toggleNPC()">=</button></div>
        <div class="body" ng-hide="npcHide">
          <input class="name" ng-model="npc.name" placeholder="NPC Name">
          <input ng-model="npc.health" placeholder="NPC Health">
          <input ng-model="npc.init" placeholder="NPC initive roll">
          <button hm-tap="addNPC()">Add NPC</button>
        </div>
      </div>
    </div>
    <div id="game-info">
      <div class="mobile-header">STUFF<button class="toggle" hm-tap="toggleGameInfo()">=</button></div>
      game info display
    </div>
  </div>

  <hr/>
  <div class="plate-grid">
    {{Players}}
    <pt-plate type="gm" ng-repeat="partyMember in players">

    </pt-plate>
  </div>
  <!-- {{gameId}} -->
</div>
