<div class='container'>
	<pt-top></pt-top>
	<button ng-click="logout()"> THIS IS A TEMP LOGOUT BUTTON </button>

	<!-- <div ng-show='join'>
    <hr/>
    {{ theGame.gameId }}
    <form name="theForm" ng-submit='joinForm()'>
      {{ theGame.gameId }}
      <input type='text' ng-model='gameId' placeholder='Put your game id here'>
      <button type='submit'> joine game</button>
    </form>
  </div> -->

	<div class='games'>
		<div class='alert' ng-hide='$root.currentUser'>
			Set up a user account or login to see your joinged games.
		</div>
		<div class='game-list'>

      <ul class="gameList">
        <li ng-repeat="userGame in userGames" >
					<span class="name">{{userGame.name}}</span>
					<a class="gm" ng-show="userGame.dm == userId" href="/gm/{{userGame._id}}">gm</a>
					<a class="play-link" ng-show="userGame.dm != userId" href="/play/{{userGame._id}}">Play</a>
          <a class="display" href="/display/{{userGame._id}}">Display</a>
					<span class="invite">{{userGame.inviteCode}}</span>
        </li>
				<li ng-hide="userGames.length">
					No Games. Why don't you start one.
				</li>
      </ul>
		</div>
		<div class="controls">
			<div id="add">
				<span hm-tap='create = true'> Clik here to start a new game</span>
				<form name="otherForm" ng-submit='createForm()' ng-show='create'>
					<input type='text' ng-model='gameName' placeholder='Game Name Here'>
					<button type='submit'> start game</button>
				</form>
			</div>
			<div id="join">
				<span hm-tap='join = true'> Clik here to Join a game</span>
		    <form name="theForm" ng-submit='joinForm()' ng-show='join'>
		      <input type='text' ng-model='gameId' placeholder='Put your game id here'>
		      <button type='submit'> joine game</button>
		    </form>
		  </div>
		</div>
	</div>
</div>
