<div class='container'>
	<pt-top></pt-top>
	<div class='games'>
		<div class='alert' ng-hide='$root.currentUser'>
			Set up a user account or login to see your joinged games.
		</div>
		<div class="controls">
			<div id="add">
				<button class='main' hm-tap='create = true' ng-hide='create'> + New Game</button>
				<form name="otherForm" ng-submit='homeView.createForm()' ng-show='create'>
					<input type='text' ng-model='homeView.gameName' placeholder='Game Name Here'>
					<button class='form' type='submit'>Start</button>
				</form>
			</div>
			<div id="join">
				<button class='main' hm-tap='join = true' ng-hide='join'> + Join Game</button>
		    <form name="theForm" ng-submit='joinForm()' ng-show='join'>
		      <input type='text' ng-model='gameId' placeholder='Put your game id here'>
		      <button class='form' type='submit'>Join</button>
		    </form>
		  </div>
		</div>
		<div class='game-list'>

      <ul class="gameList">
        <li ng-repeat="userGame in homeView.ourGames" >
					<div class="name">{{userGame.name}}</div>
					<a class="gm" ng-show="userGame.dm == homeView.userId" href="/gm/{{userGame._id}}">gm</a>
					<a class="play-link" ng-show="userGame.dm != homeView.userId" href="/play/{{userGame._id}}">Play</a>
          <a class="display" href="/display/{{userGame._id}}">Display</a>
					<div class="invite">{{userGame.inviteCode}}</div>
        </li>
				<li ng-hide="homeView.ourGames.length">
					No Games. Why don't you start one.
				</li>
      </ul>
		</div>

	</div>
</div>
