<div class="container">
  <div class="banner">
    <h1>Player 2:</h1>
    <h3>A Tabletop Tool</h3>
  </div>
  <div class="grid">
    <div class="side-bar">
      <p class="quote">
        "Player 2, its totally better than asking questions"
        - A random Player
      </p>

      <p class="quote">
        "More useful than sliced bread in a fight."
        - Playertester A47
      </p>
    </div>
    <div class="content">
      <div class="intro">
        <h2>Hello, and Welcome to Player 2!</h2>
        <h3>
          Player 2 is a tool to help both DMs and Players get more familiar with each other.
        </h3>
        <p>
          And by familiar, we mean with each other's character's bodies. Player 2 is your one stop shop for in game character status tracking and management. By removing the tedium of remembering each players individual status Player 2 allows you to focus on what really matters in a gameplay session. Gone are the worries about who is posioned, low on health, or currently wandering around a cliff blind. No more will the question "Who's next" come up with Player 2's integrated combat tracking.
        </p>
        <p>
          Set up is easy, and mostly painless. Each player logs in on their respecive device(Phone, tablet, computer, smart watch, etc), and joins the game created by one of the other players or the DM. Don't have a DM who wants to use this tool? No a problem, Player 2 is gameplay focused, not mechanics focused. This means that a player OR a DM can create and manage a game.
        </p>
        <p>
          And don't worry about losing your place. Player 2 games are saved in the cloud, and can be resumed at any time. This means you can pause a fight, take a two week break, and come back to exactly where you left off. Player 2 will take care of managing your data.
        </p>
      </div>
      <div class="news">
        <h4> News </h4>
        <ul>
          <li>
            Right now we're still in early Alpha testing. So be prepaired to have your games, players, etc wiped.
          </li>
        </ul>
      </div>
      <div class="join">
        <h4> Join</h4>
        <!-- <blaze-template name="loginButtons"></blaze-template> -->
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
    </div>

  </div>
</div>
<!-- NOTHING HERE YET. Login in to go home.

<blaze-template name="loginButtons"></blaze-template> -->
