<div class="wrapper">
	<div class="details">
		<span id="name"> {{data.name}} </span>
		<span id="health"> {{ data.tempHealth.currentHealth + " " + data.currentHealth + "/" + data.maxHealth}} </span>
	</div>
	<div class="health-bar big">
		<div class="bar" ng-class="barColor(data.currentHealth,data.maxHealth)">
			<div class="hit" style="width:{{health(data.maxHealth, (data.maxHealth - data.currentHealth))}}"></div>
			<div class="hit temp" style="width:{{health(data.tempHealth.maxHealth, data.tempHealth.currentHealth)}}"></div>
		</div>
	</div>
	<div class="conditions">
		{{data.conditions}}
		<div ng-repeat="ourCondition in data.conditions | filter:{name: '!!'}" ng-click="popCondition(ourCondition)">{{ourCondition.name}}</div>
	</div>
</div>
