<div class="details">
	<span id="name"> {{playerRecord.name}} </span>
	<span id="health"> {{ playerRecord.tempHealth.currentHealth + " " + playerRecord.currentHealth + "/" + playerRecord.maxHealth}} </span>
</div>
<div class="health-bar big">
	<div class="bar" ng-class="barColor(playerRecord.currentHealth,playerRecord.maxHealth)">
		<div class="hit" style="width:{{health(playerRecord.maxHealth, (playerRecord.maxHealth - playerRecord.currentHealth))}}"></div>
		<div class="hit temp" style="width:{{health(playerRecord.tempHealth.maxHealth, playerRecord.tempHealth.currentHealth)}}"></div>
	</div>
</div>
<div class="conditions">
	<div ng-repeat="ourCondition in playerRecord.conditions | filter:{name: '!!'}" ng-click="popCondition(ourCondition)">{{ourCondition.name}}</div>
</div>
