<div class="container play">
  <pt-top></pt-top>
  <pt-condtions show="playCtrl.showConditions" player="playCtrl.playerRecord._id" conditions="playCtrl.conditions"></pt-condtions>
  <div class="overlay" ng-show="playCtrl.game.battle && playCtrl.noInit()">
    <div class="body">
      <h2> READY FOR COMBAT! </h2>
      <form ng-submit="playCtrl.readUp()">
        <input type='number' ng-model='playCtrl.battle.roll' placeholder="Initi">
        <button ng-click="playCtrl.setInit();"> Initiative </button>
      </form>
    </div>
  </div>

  <div class="overlay" ng-show="playCtrl.healthDialog">
    <div class="body">
      <h2> Make a large change</h2>
      <button class="negative" hm-tap="decreaseHealth(nButton.amount)" ng-repeat="nButton in healthNegButtons">{{nButton.text}}</button>
      <button class="positive" ng-repeat="pButton in healthPosButtons" hm-tap="increaseHealth(pButton.amount)"> {{pButton.text}}</button>
    </div>
  </div>

  <div class="overlay" ng-show="playCtrl.dmWarn">
    <div class="body">
      <h2>WARNING, THIS CHANGE CAN'T BE UNDONE. </h2>
      <button class="negative" hm-tap="playCtrl.dmWarn = false">Cancel</button>
      <button class="positive" hm-tap="playCtrl.becomeDM()">BECOME THE DM!</button>
    </div>
  </div>

  <div id="player-wrapper" ng-hide="playCtrl.playerRecord">
    <div id="add-player">
      <header>Add Player</header>
      <div class="form">
        <form ng-submit="playCtrl.joinGame()">
          <input type="text" ng-model="playCtrl.player.name" required placeholder="You Character Name">
          <input type="number" ng-model="playCtrl.player.currentHealth" required placeholder="Current Health">
          <input type="number" ng-model="playCtrl.player.maxHealth" required placeholder="Max Health">
          <button> Join </button>
        </form>
      </div>
      <span class="or" ng-hide="$root.currentUser"> or </span>
      <div class="form" ng-hide="$root.currentUser">
        <form ng-submit="playCtrl.returnToGame()">
          <input type="text" ng-model="playCtrl.recovery.playerName" required placeholder="Recovery Name">
          <input type="text" ng-model="playCtrl.recovery.recovery" required placeholder="Recovery Passcode">
          <button> Recover Player </button>
        </form>
      </div>
      <div class="form" ng-hide="$game.dm">
        <button type="feature" hm-tap="playCtrl.dmWarn = true"> Become Game DM </button>
      </div>
    </div>
  </div>

  <div class="player" ng-show="playCtrl.playerRecord">
    <pt-plate type="player" data="playCtrl.playerRecord"></pt-plate>
    <div class="controls">
      <div class="temp" ng-show="playCtrl.temp">
        <input type="number" ng-model="playCtrl.tempInput">
        <button ng-click="playCtrl.setTemp()">Set Temp Health</button>
      </div>
      <div class="negative">
        <!-- <button ng-click="decreaseHealth(10)"> - 10 </button> -->
        <!-- <button ng-click="decreaseHealth(1)"> - </button> -->
        <!-- <button hm-tap="decreaseHealth(1)" hm-press="healthDialogShow('loss')"></button> -->
        <button ng-click="playCtrl.decreaseHealth(1)"></button>
      </div>
      <div class="inputs">
        <!-- <button ng-click="decreaseHealth(10)"> - 10 </button> -->
        <!-- <button ng-click="decreaseHealth(1)"> - </button> -->
        <input type="number" ng-model="playCtrl.damageInput" placeholder="dmg"/>
      </div>
      <div class="positive">
        <!-- <button ng-click="increaseHealth(1)"> + </button> -->
        <!-- <button ng-click="increaseHealth(10)"> + 10</button> -->
        <!-- <button hm-tap="increaseHealth(1)" hm-press="healthDialogShow('gain')"></button> -->
        <button ng-click="playCtrl.increaseHealth(1)"></button>
      </div>
      <div class="nutural">
        <button class="nutural" ng-click="playCtrl.temporaryForm()">Temporary Hitpoints</button>
        <button class="nutural" ng-click="playCtrl.showConditions = true;" >Add Condition</button>
      </div>
      <div class="init" ng-hide="playCtrl.game.battle">
        <button class="nutural" ng-click="playCtrl.initInit()">Initiative</button>
      </div>
      <div class="leave">
        <button ng-click="playCtrl.leave()">Leave Game</button>
      </div>
    </div>

    <div id="battle" ng-show="playCtrl.game.battle">
      <div class="messages">
        <ul>
          <li class="position-block" ng-repeat="partyMember in playCtrl.players"><div class="marker" ng-show="partyMember._id == playCtrl.playerRecord._id"></div></li>
        </ul>
      </div>
      <div class="controls" ng-show="playCtrl.battlePosition() == 1">
        <button ng-click="playCtrl.endRound()"> COMPLETE ROUND </button>
        <button ng-click="playCtrl.endBattle()"> End Fight </button>
      </div>
    </div>
  </div>
  <hr/>
  <div id="plate-grid" class="wrapper">
    <pt-plate data="playCtrl.players" player="playCtrl.playerRecord._id" showNPC="playCtrl.game.displayNPC"><!--ng-if="partyMember._id!=playCtrl.playerRecord._id">-->

    </pt-plate>
  </div>
  <!-- {{gameId}} -->
</div>
