<div class="player-plate">
	<header> {{ partyMember.name }}</header>
	<span class="left" ng-show="displayDetails || gm">{{partyMember.tempHealth.maxHealth + " " + partyMember.currentHealth}}</span>
	<div class="health-bar">
		<div class="bar" ng-class="barColor(partyMember.currentHealth,partyMember.maxHealth)">
			<div class="hit" style="width:{{health(partyMember.maxHealth, (partyMember.maxHealth - partyMember.currentHealth))}}"></div>
			<div class="hit temp" style="width:{{health(partyMember.tempHealth.maxHealth, partyMember.tempHealth.currentHealth)}}"></div>
		</div>
	</div>
	<div class="conditions">
		<div ng-repeat="condition in partyMember.conditions | filter:{name: '!!'}">{{condition.name}}</div>
	</div>
</div>
