<div class="container">
  <div class="form">
    <form id="registerForm" name="registerForm" class="user-form" ng-submit="formSubmit()" novalidate>
      <p><label>User</label> <input ng-model="rForm.user" type="user" name="user" required="required"></p>
      <p><label>Password</label> <input ng-model="rForm.password" type="password" name="password"  required="required"></p>
      <p><label>Password Confirm</label> <input ng-model="rForm.password2" type="password" name="password2" same-as="rForm.password" required="required"></p>
      <p class="error" ng-show="message"> {{message}}</p>
      <p><input class="button" type="submit" value="Register"></p>
    </form>
  </div>
</div>
